-e file:///home/marlonsc/flext/flext-core ; python_version >= "3.13" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "4.0"
black==25.1.0 ; python_version >= "3.13" and python_version < "4.0"
click==8.2.1 ; python_version >= "3.13" and python_version < "4.0"
# colorama==0.4.6 - removed prehistoric library, rich handles colors better
coverage[toml]==7.9.1 ; python_version >= "3.13" and python_version < "4.0"
iniconfig==2.1.0 ; python_version >= "3.13" and python_version < "4.0"
ldap3==2.9.1 ; python_version >= "3.13" and python_version < "4.0"
mando==0.7.1 ; python_version >= "3.13" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.13" and python_version < "4.0"
mypy==1.16.1 ; python_version >= "3.13" and python_version < "4.0"
numpy==2.3.1 ; python_version >= "3.13" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.13" and python_version < "4.0"
pandas-stubs==2.3.0.250703 ; python_version >= "3.13" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.13" and python_version < "4.0"
platformdirs==4.3.8 ; python_version >= "3.13" and python_version < "4.0"
pluggy==1.6.0 ; python_version >= "3.13" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.13" and python_version < "4.0"
pydantic-core==2.33.2 ; python_version >= "3.13" and python_version < "4.0"
pydantic==2.11.7 ; python_version >= "3.13" and python_version < "4.0"
pydocstyle==6.3.0 ; python_version >= "3.13" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.13" and python_version < "4.0"
pytest-asyncio==0.25.3 ; python_version >= "3.13" and python_version < "4.0"
pytest-cov==6.2.1 ; python_version >= "3.13" and python_version < "4.0"
pytest==8.4.1 ; python_version >= "3.13" and python_version < "4.0"
radon==6.0.1 ; python_version >= "3.13" and python_version < "4.0"
ruff==0.12.2 ; python_version >= "3.13" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.13" and python_version < "4.0"
snowballstemmer==3.0.1 ; python_version >= "3.13" and python_version < "4.0"
types-ldap3==2.9.13.20250622 ; python_version >= "3.13" and python_version < "4.0"
types-pyasn1==0.6.0.20250516 ; python_version >= "3.13" and python_version < "4.0"
types-pytz==2025.2.0.20250516 ; python_version >= "3.13" and python_version < "4.0"
typing-extensions==4.14.0 ; python_version >= "3.13" and python_version < "4.0"
typing-inspection==0.4.1 ; python_version >= "3.13" and python_version < "4.0"
